body
{
    margin-left:10%;
    margin-right:10%;
    margin-top:0;
    margin-bottom:0;
    }
header
{
    background-color:#579c87;
    height:105px;
    text-align: center;
    padding-top:5px; 
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
h1
{
    color:#fdcb46;
    font-size:45px;
   
}
.page
{
width:70%;
background-color:#fff5fe;
margin:100px auto;
padding:80px;
font-family: 'Playfair Display', cursive;
font-size:20px;
box-shadow: 8px 8px 12px #aaa;
}
.title
{
    text-align:center;
    font-size:40px;
    padding:80px 0 0 0;
    font-weight:bold;
    
}
.high
{
    text-align:center;
}
.high h1
{
background: -webkit-linear-gradient(right, rgb(216,133,46) 0%, rgb(133, 49,253) 100%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    font-family: , serif;

}
.entree-title
{
    display:flex;
    padding:20px 30px 10px 15px;
    color:#cd8430;
    
}
.dish-title
{
    display:flex;
     padding:20px 30px 10px 15px;
     color:#a56799
}
.dessert-title
{
    display:flex;
      padding:20px 30px 10px 15px;
    
}
.entree-title h2
{
    margin:0;
    font-size:22px;
}
.dish-title h2
{
    margin:0;
    padding:0 35px;
    font-size:22px;
}
.dessert-title h2
{
    margin:0;
    padding:0 15px;
    font-size:22px;
    color:#6e4ccc;
}
.descriptive
{
    width:65%;
    padding-left:50px;
}
.price
{
    width:20%;
    text-align:right;
}
.entree-content
{
    display: flex;
    flex-wrap: wrap;
    color:#cd8430;
    

}
.dish-content
{
    display: flex;
    flex-wrap: wrap;
    color:#a56799;
}
img
{
    width:200px;
    margin:0;
}
.dessert
{
    color:#6e4ccc;
}
.dessert-content .descriptive
{
    width:100%;
}
footer
{
    display:flex;
    height:80px;
    background-color:#579c87;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    position:fixed;
    bottom:0;
    width:1220px;
    margin-top:150px;
}
.link{
    color:#fdcb46; 
}
.footer__title
{
    width:50%;
    text-align:center;
}
