body
{
    margin-left:10%;
    margin-right:10%;
    margin-top:0;
    margin-bottom:0;
    }
header
{
    background-color:#579c87;
    height:105px;
    text-align: center;
    padding-top:5px; 
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
h1
{
    color:#fdcb46;
    font-size:45px;
 }  
.page
{
width:70%;
margin:100px auto;
padding:80px;
font-size:15px;
box-shadow: 8px 8px 12px #aaa;
font-family: 'Architects Daughter', cursive;
color:black;
}
.title
{
    text-align:center;
    font-size:40px;
    padding:80px 0 0 0;
    font-weight:bold;
    
}
.high
{
    text-align:center;
}
.high h1
{
background: -webkit-linear-gradient(right, rgb(66,151,60) 0%, rgb(191,255,126) 100%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    font-family: 'Kaushan Script', cursive;
    font-size:67px;
    margin-top:0;
}
.entree-title
{
    display:flex;
    padding:10px 10px 10px 15px;
   
    
}
.dish-title
{
    display:flex;
     padding:20px 10px 10px 15px;
     
}
.dessert-title
{
    display:flex;
      padding:20px 10px 10px 15px;
    
}
.entree-title h2
{
    margin:0;
    font-size:22px;
    width:100px;
    padding:0 25px;
    text-align:center;
}

.dish-title h2
{
    margin:0;
    font-size:22px;
    width:220px;
    text-align:center;
}
.dessert-title h2
{
    margin:0;
    padding:0 15px;
    font-size:22px;
    width:220px;
    
}
.descriptive
{
    width:75%;
    padding-left:25px;
    padding-right:15%;
}
.price
{
    
    text-align:right;

}
.entree-content, .dish-content, .dessert-content
{
    display: flex;
    flex-wrap: wrap;
}


img
{
    width:100%;
    margin:0;
}


footer
{
    display:flex;
    height:50px;
    background-color:#579c87;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    position:fixed;
    bottom:0;
    width:80%;
    margin-top:150px;
    padding-bottom: 25px;
}
.link{
    color:#fdcb46; 
}
.footer__title
{
    width:50%;
    text-align:center;
}
.footer__title:hover{
    animation: shake 0.8s;
    animation-iteration-count:infinite;
}

 @keyframes shake
 {
  0% {transform:translate(2px,2px);}
  10% {transform:translate(-2px,-2px);}
  20% {transform:translate(2px,2px);}
  30% {transform:translate(-2px,-2px);}
  40% {transform:translate(2px,2px);}
  50% {transform:translate(-2px,-2px);}
  60% {transform:translate(2px,2px);}
  70% {transform:translate(-2px,-2px);}
  80% {transform:translate(2px,2px);}
  90% {transform:translate(-2px,-2px);}
  100% {transform:translate(2px,2px);}
 }

h2:after {
    content: '';
    display: block;
    bottom: 2px;
    width: 0%;
    left: 0px;
    height: 4px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: black;
}


h2:hover:after {
        width: 100%;
    }
aside
{
    border:1px solid #579c87;
    background-color:#579c87;
    
    width:20%;
    border-radius: 15px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);
    font-size:25px;
    margin-bottom:100px;
    margin-left:auto;
    margin-right:auto;

}
a{
    color:#fdcb46;
}
@media screen and (min-width:320px) and (max-width:900px){
    body
    {
        margin-left:0;
        margin-right:0;
    }

    header{
        width:100%;
        
    }
    footer
    {
        width:100%;
        
    }
    .title
    {
        font-size:25px;
    }
    .page
    {
        padding:5px;
        font-size:20px;
        width:85%;

    }
    .high h1
    {
        font-size:30px;
    }
    .high i
    {
        font-size:50px;
       padding-top:20px;
    }
    .price
    {
        text-align:center;
        padding:10px;
        margin:auto;
    }
    .descriptive
    {
        width:100%;
        padding:2%;
        text-align: center;
        
    }
    .entree-title{
        display:block;
        padding:0;
    }
    .dish-title
    {
        padding:0;
        display:block;

    }
    .dessert-title
    {
        padding:0;
        display:block;
    }
    .entree-title h2
    {
        width:auto;
        
    }
    .dish-title h2
    {
        width:auto;
        padding: 0 35px; 
    }
    .dessert-title h2
    {
        width:auto;
       
       }
    img
    {
        width:100%;
    }
    aside
    {
        width:40%;
    }
    h2:after
    {
        display:none;
    }
    .after
    {
        padding-left:0;

        width:100%;
        flex-direction: column;
        text-align:center;
    }
    h2
    {
        text-align:center;
    }
}