body
{
    margin-left:10%;
    margin-right:10%;
    margin-top:0;
    margin-bottom:0;
    }
header
{
    background-color:#579c87;
    height:105px;
    text-align: center;
    padding-top:5px; 
}
a{
    text-decoration: none;
}
h1
{
    color:#fdcb46;
    font-size:45px;
   font-family: 'Roboto', sans-serif;
   text-align:center;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
input,
label {
    margin: .4rem 0;
    width:97%; 
    border: solid 6px grey;
}
button
{
   width:3%; 
   border-radius:50%; 
}
.search
{
    display: flex;
    padding-top:5px;
    padding-bottom: 30px;
}
.page
{
width:70%;
margin:100px auto;
padding:80px;
font-size:15px;
box-shadow: 8px 8px 12px #aaa;
font-family: 'Architects Daughter', cursive;
color:black;
}
.page h1 
{
  font-family: 'Black Ops One', cursive;
  padding:0 10%;
}
.page h1:after {
    content: '';
    display: block;
    bottom: 2px;
    width: 0%;
    left: 0px;
    height: 4px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: #fdcb46;
}


.page h1:hover:after {
        width: 100%;
    }
footer
{
    display:flex;
    height:50px;
    background-color:#579c87;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    position:fixed;
    bottom:0;
    width:1220px;
    margin-top:150px;
    padding-bottom: 25px;
}
.link{
    color:#fdcb46; 
}
.footer__title
{
    width:50%;
    text-align:center;
}
.footer_title:hover{
    animation: shake 0.8s;
    animation-iteration-count:infinite;
}
 @keyframes shake
 {
  0% {transform:translate(2px,2px);}
  10% {transform:translate(-2px,-2px);}
  20% {transform:translate(2px,2px);}
  30% {transform:translate(-2px,-2px);}
  40% {transform:translate(2px,2px);}
  50% {transform:translate(-2px,-2px);}
  60% {transform:translate(2px,2px);}
  70% {transform:translate(-2px,-2px);}
  80% {transform:translate(2px,2px);}
  90% {transform:translate(-2px,-2px);}
  100% {transform:translate(2px,2px);}
 }
aside
{
    border:1px solid #579c87;
    background-color:#579c87;
    
    width:20%;
    border-radius: 15px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);
    font-size:25px;
    margin-bottom:100px;
    margin-left:auto;
    margin-right:auto;

}
a{
    color:#fdcb46;
}
@media screen and (min-width:320px) and (max-width:900px){
    body
    {
        margin-left:0;
        margin-right:0;
    }

    header{
        width:100%;
        
    }
    footer
    {
        width:100%;
        
    }
    .page
    {
        padding:9%;
    }
    .page h1{
        padding:0 0;
    }
    .page p{
        text-align: justify;
    }
    aside
    {
        width:30%;
    }