body
{
    margin-left:10%;
    margin-right:10%;
    margin-top:0;
    margin-bottom:0;
    }
header
{
    background-color:#579c87;
    height:105px;
    text-align: center;
    padding-top:5px; 
}
a
{
    text-decoration: none;
}
h1
{
    color:#fdcb46;
    font-size:45px;
   font-family: 'Roboto', sans-serif;
}
.search
{
  background-color:grey;
  margin:15px 0  ;
  width:100%;
  height:15px;
}
article
{
display:flex;
margin-left:205px;
}
.one
{
    display:flex;
}
.bloc-menu-one, .bloc-menu-two, .bloc-menu-three, .bloc-menu-four
{
    width:25%;
    text-align:center;
    height:355px;
    margin:35px 75px 35px 75px;
    box-shadow: 1px 1px 8px #EDEDED;

}
.bloc-menu-one
{   
    background-color:#fcdfdb;
    font-family: 'Balsamiq Sans', cursive;}

.bloc-menu-line                 <!--                    présente                         -->
{
    transition:transform 1s;      
}
   .bloc-menu-line:hover{
    transform: scale(1.1);
    transition: transform 330ms linear;
}
.bloc-menu-one h2
{
    font-family: 'Great Vibes', cursive;
    font-size:30px;
    color:black;
}
.bloc-menu-one h3
{
    color:black;
}
.bloc-menu-two
{
    background-color:#fff5fe;
    font-size:15px;
}
.bloc-menu-two h2
{
   background: -webkit-linear-gradient(right, rgb(216,133,46) 0%, rgb(133, 49,253) 100%); <!--                    présente                         -->
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    font-family: 'Playfair Display', serif;
}
.bloc-menu-two h3
{
    color:#c77412;
}
.bloc-menu-three
{
    background-color:#f9f9f9;
    font-family: 'Balsamiq Sans', cursive;
}
.bloc-menu-three h2
{
    font-family: 'Dancing Script', cursive;
      background: -webkit-linear-gradient(right, rgb(4, 48, 223) 0%, rgb(108,179,249) 100%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
}
.bloc-menu-three h3
{
    font-family: 'Nothing You Could Do', cursive;
      background: -webkit-linear-gradient(right, rgb(4, 48, 223) 0%, rgb(108,179,249) 100%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
}
.bloc-menu-four h2
{
    font-family: 'Nothing You Could Do', cursive;
    background: -webkit-linear-gradient(right, rgb(66,151,60) 0%, rgb(191,255,126) 100%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
}
.bloc-menu-four h3
{
    font-family: 'Nothing You Could Do', cursive;
    color:#72bf56;
}
.bloc-menu-four
{
    background-color:#fdfffd;
    font-family: 'Balsamiq Sans', cursive;
}
.bloc-menu-line
{
    padding-top:130px;
}
.fa-music
{
    font-size:45px;
    background: -webkit-linear-gradient(right, rgb(241, 88, 97) 0%, rgb(247, 143, 106) 100%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
}
aside
{
    border:1px solid #579c87;
    background-color:#579c87;
    color:#fdcb46;
    width:30%;
    border-radius: 15px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);
    font-size:25px;
  margin-top: 32px;
}

@keyframes opacity {                <!--                    présente                         -->
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
aside span {
  animation-name: opacity;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
aside span:nth-child(2) {
  animation-delay: 100ms;
}
aside span:nth-child(3) {
    animation-delay: 300ms;
}
main{
    padding-bottom: 150px;
}
footer
{
    display:flex;
    height:40px;
    background-color:#579c87;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    position:fixed;
    bottom:0;
    width:80%;
    padding-bottom: 25px;
}

.link{
    color:#fdcb46; 
}
.footer-line
{
    width:50%;
    text-align:center;
}
.footer-line:hover{                           <!--                    présente                         -->
    animation: shake 0.8s;
    animation-iteration-count:infinite;
}
@keyframes shake
 {
  0% {transform:translate(2px,2px);}
  10% {transform:translate(-2px,-2px);}
  20% {transform:translate(2px,2px);}
  30% {transform:translate(-2px,-2px);}
  40% {transform:translate(2px,2px);}
  50% {transform:translate(-2px,-2px);}
  60% {transform:translate(2px,2px);}
  70% {transform:translate(-2px,-2px);}
  80% {transform:translate(2px,2px);}
  90% {transform:translate(-2px,-2px);}
  100% {transform:translate(2px,2px);}
 }
 @media screen and (min-width:320px) and (max-width:900px){ 
  body
  {
    margin:0;
  } 
  header
  {
    width:100%;
  }
  footer
  {
    width:100%;
    padding-bottom:30px;
  }
  article{
    display:flex;
    flex-direction:column;
    margin-left:0;
    margin-right:0; 
  }
  .bloc-menu-one, .bloc-menu-two, .bloc-menu-three, .bloc-menu-four
  {
    width:80%;
    height:400px;
    margin:10%;
  }
  aside
  {
    font-size:18px;
    width:50%;
  }
  button
  {
    width:6%;
  }
}
@media screen and (min-width:1200px) and (max-width:1400px){
  article{
    margin-left:13%;
  }
}
@media screen and (min-width:901px) and (max-width:1199px){
  article{
  margin:9%;
  }
}
